
<div class="container">
<div class="card"  style="width: 50rem;">
  <div class="card-body">
  <div class="center">
    <h1 >Eat the Burger</h1>
    <img src="/assets/img/sonic-burger.jpg" style="width:300px" class="card-img-top"  alt="burger image">
  </div>
 <p class="card-text">
      <div class="form-group">
        <div>Add a new Burger to the menu!
        </div>
        <form action="/api/burgers" method="POST">
          <input type="text" id="name" name="burger_name" >
          <button type="submit" >Add The Burger</button>
        </form>
         
      </div>
     
   
   
_____________________________________________________________


    <div class="container">
      <div class="row">
        <div class="col-sm">
         <h4 >On the Menu</h4>    
            {{#each burgers}}
             {{#unless devoured}}
              <div>
                  <button type="btn" class="devoured btn btn-warning" data-id="{{id}}" > Devour </button> {{id}}-{{this.burger_name}}
                 



 
              </div>
              {{/unless}}
            {{/each}}
          </div>
       
          <div class="col-sm">
            <h4 >No Longer Available</h4>
            {{#each burgers}}
              {{#if this.devoured}}
                <div>{{this.id}} - {{this.burger_name}}</div>
              {{/if}}
            {{/each}}
          </div>
      </div>
    </div>
    
    </p>
  </div>
  </div>
   
 
